# Main configuration context
user webserv;

events {
    use epoll;
}

http {
    server {
        listen 80; #Server's port reading on IPV4 address
        listen 8080; #Listen to multiple ports (by repeating the directive)

        root /var/www/html; #Root directory of the server's files

        # Allow reading of html, and htm file types
        index index.html index.htm;

        server_name localhost; #Setup the name to redirect localhost ping to this server

        location / {
            try_files $uri $uri/ =404; #This will return error 404 while accessing inexistant file
            limit_except POST GET DELETE {
                deny all;
            }
            client_body_temp_path /tmp/path; #If the request size is too large, the server will store it in a temporary file located in this path to avoid memory issues
            client_body_in_file_only on; #This line force the request to use the temp path, even if a buffer_size is present
            client_body_buffer_size 128K; #If the request is above this size, the server will use the temporary file to store it during the upload process, else it will store it in the internal memory
            client_max_body_size 50M; #Request over this size will be denied and return Error 413
            autoindex off; #Allow or Deny directory listing.
        }

        location /redirect {
            return 302 http://$server_name/test.html; #Temporary redirection to a specific page
        }

        location /search {
            root /var/www/html;
            autoindex on;
        }

        location ~ \.php$ {
            # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
            include fastcgi.conf; #TODO
            fastcgi_pass unix:/run/php/php7.3-fpm.sock; #TODO
            fastcgi_buffers 16 16k; #TODO
            fastcgi_buffer_size 32k; #TODO
        }
    }
}